/* Fonts */
@font-face{
    font-family: meow ;
    src: url(/assesst/fonts/MeowScript-Regular.ttf);
}
@font-face {
    font-family: FunnelSensItalic;
    src: url(/assesst/fonts/FunnelSans-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: funnelSansVar;
    src: url(/assesst/fonts/FunnelSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: SerifRegular;
    src: url(/assesst/fonts/DMSerifText-Regular.ttf);
}
@font-face {
    font-family: SerifItalic;
    src: url(/assesst/fonts/DMSerifText-Italic.ttf);
}
@font-face {
    font-family: sat;
    src: url(/assesst/fonts/Satisfy-Regular.ttf);
}
/* colors  */
:root{
    --background : #DACABD;  /* background */
    --primary : #4A4139;    /* text */
    --secondary : #4C433C;  /* footer product */
    --footer-bg : #47382a;  /* footer bg */
    --main-bg : #F0ECE1;  /* main bg */
    --product-bg : #9B785A;  /* product bg */
    --price-bg : #D8B192;     /* product bg */
}

/* ------- Main styles -------- */
.body{
    position: relative;
    background-color: var(--background);
    margin: 0 auto;
    width: 100%;
    z-index: 0;
}
.top-head-text{
    font-family: funnelSansVar ;
    font-size: 2rem;
    margin: 2rem  auto 0.5rem auto;
}
.top-head-cute-text{
    font-family: meow ;
    font-size: 1.7rem;
}
.top-head-text,
.top-head-cute-text {
    font-size: 1.5rem;
    z-index: 2; 
    font-weight: 500;
    color: var(--secondary);
    text-transform: capitalize;
    width: 100%;
    display: block;
    text-align: center;
}
.rectangle-bg-color{
    position: fixed;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    height: 10rem;
    width: 100%;
    background-color: var(--footer-bg) ;
}
.main-container {
    position: relative;
    width: 80%;
    background-color: #F0ECE1 ;
    background-image: url(/assesst/main-page-images/background-elements.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 40rem;
    z-index: 2;
    margin: 1rem auto 0 auto;
    box-shadow: 5px 9px 30px -6px rgba(0,0,0,0.75);
}

/* ------- Header styles -------- */

.header-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6rem;
    margin-top: 2rem;
}
.logo-container img{
    width: 10rem;
    height: auto;
    object-fit: cover;
}
.topic-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}
.links-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3.7rem;
    margin: 5rem 0 ;
}
.links-container > li {
    list-style-type: none;
}
.link{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--footer-bg);
    font-family: SerifRegular ;
    font-weight: 200;
    text-transform: uppercase;
}
.link:hover{
    color: #DBC9BB ;
}
.search-container{
    background-color: #DBC9BB;
    width: 100%;
    height: auto;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    margin-left: 2.5rem;
}
#search-input{
    border: none;
    outline: none;
    background-color: inherit;
    direction: ltr;
    font-size: 1rem;
    font-family: SerifItalic ;
}
#search-input::placeholder {
    font-size: 1rem;
    font-family: SerifItalic ;
}
.icon{
 cursor: pointer;
}


/* ------- Main Section styles -------- */
.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-image img{
    max-width: 20rem;
    height: auto;
    object-fit: cover;
}
.main-website-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 40rem;
    margin: 3rem ;
}
.main-website-info h2{
    font-family: SerifRegular ;
    font-size: 4.5rem;
    margin: 0;
    text-transform: uppercase;
    color: var(--footer-bg);
       

}
.main-website-info span{
    max-width: 33rem;
    margin-top: 1rem;
    letter-spacing: 0.8px;
    line-height: 1.2;
    text-overflow: ellipsis;
    word-spacing: 2px;
    font-size: 1rem;
    font-family: funnelSansVar;
    font-weight: 300;
    color: var(--footer-bg);

}
.info-title-cute{
    font-family: sat ;
    font-size: 3rem;
    margin: 0;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--footer-bg);
}
.info-title-normal{
    font-size: 4rem;
    font-family: funnelSansVar;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    color: var(--footer-bg);
}
.socials-media{
    display: flex;
    justify-self: flex-start;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 1.5rem;
} 
.socials-media i{
    color: #fff;
    background-color: var(--footer-bg);
    padding: 5px;
    border-radius: 100px;
    text-align: center;
    
}  
.socials-media i:hover{
    cursor: pointer;
    background-color: var(--background);
    color: var(--primary);
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5rem;
    height: auto;
    gap: 6rem;
}
.product-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.product-img{
    max-width: 9rem;
    object-fit: cover;
    position: absolute;
    left: -31%;

}
.produc-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    max-width: 10rem;
    background-color: var(--product-bg);
    color: #fff;
    font-size: 1.2rem;
    font-family: SerifRegular ;
    padding: 0.3rem 3rem;
    border-radius: 50px;
    cursor: pointer;

}
.product-container span {
    font-size: 1rem;
    font-weight: 100;
    font-family: SerifItalic ;
}
.product-price{
    position: absolute;
    background-color: var(--price-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 200%;
    text-align: center;
    width: 1rem;
    height: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: SerifRegular ;
    right: 4%;
    top: 65%;
}
