@media (max-width: 480px) {
    .logo-container{
        display: none;
    }
    .links-container{
        display: none;
    }
    .topic-links-container{
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
    }
    .header-section {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .search-container{
        width: 30%;
        display: none;
    }
    .search-container input {
        width: 80%;
    }
    #nav-icon1 {
        display: block;
    }
    .side-bar-container{
        display: block;
    }
    .side-bar-menu {
        display: block;
    }
}